body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.greeting{
    margin-top: 40vh;
}
h1{
    text-align: center;
}
.shop-row {
    cursor: pointer;
    transition: background-color 0.3s;
}

#salesChart {
    width: 100%;
    height: 100%;
  }

.shop-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.shop-row:hover {
    background-color: #f2f2f2;
}
.shop-table th, .shop-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.shop-table th {
    background-color: #f2f2f2;
}
