<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Account</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
   
    <div class="container">
      <h2>Verify Account</h2>

      <div id="verificationResult"></div>

      <button id="loginButton" onclick="redirectToLogin()">Login</button>
    </div>

    <script>
        window.onload = function () {
          var urlParams = new URLSearchParams(window.location.search);
          var tranID = urlParams.get("TranID");
  
          if (!tranID) {
            displayVerificationError(
              "Verification of account failed. TransID is missing in the URL."
            );
            return;
          }
  
          verifyAccount(tranID);
        };
  
        function verifyAccount(transID) {
          var encodedTransID = encodeURIComponent(transID);
          fetch("/auth/verifyaccount?TranID=" + encodedTransID)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to verify account");
              }
              return response;
            })
            .then((result) => {
              if (result.ok) {
                document.getElementById("verificationResult").innerText ="Thank you for verifying your email. you can now login and have full access to your account";
                document.getElementById("loginButton").style.display = "block"; 
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              displayVerificationError("Failed to verify account.");
              document.getElementById("loginButton").style.display = "none"; 
            });
        }
  
        function displayVerificationError(message) {
          var errorDiv = document.getElementById("verificationResult");
          errorDiv.innerText = message;
          errorDiv.style.color = "red";
        }
  
        function redirectToLogin() {
          window.location.href = "/log_in"; 
        }
      </script>
  </body>
</html>
